.sidenav_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0px;
  // Row1
  .sidenav_logo {
    flex: 0.2;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    @media screen and (max-width:900px){
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  // Row2
  .sidenav_menus {
    flex: 0.7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .menu{
 

        i{
            font-size: 1.7rem;
            color: #5f5f5f;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: yellow;
                scale: 1.3;
                filter: drop-shadow(0px 4px 5px #fcef3c98);
                transition: all 0.3s ease-in-out;
            }
        }
    }
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;

    }
    @media screen and (max-width:600px){
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0%;
      right: 0%;
      top: 8%;
      height: 10%;
      width: 100%;
      padding: 1rem 0px;
      background-color: #181818;
      z-index: -1;

    }
  }
  // Row3
  .sidenav_socialmedias {
    flex: 0.3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    .media{
 

        i{
            font-size: 1.1rem;
            color: #5f5f5f;
            cursor: pointer;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: yellow;
                filter: drop-shadow(0px 4px 5px #fcef3c98);
              
                transition: all 0.3s ease-in-out;
            }
            @media screen and (max-width: 900px) {
             font-size: 1.5rem;
            }  
        }
    }
    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;


    }
  }
  //  MenuIcon show enter in 600px
  .menu_icons{
    flex: 0.05;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    display: none;
    .menu_icon{
      display: flex;
      align-items:center;
      justify-content: center;

      i{
        font-size: 2rem;
        color: #5f5f5f;
        cursor: pointer;
      }
    }

    @media screen and (max-width:600px){
      display: block;
    }
  }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
}

@media screen and (max-width:600px){
  #MenuOpen{
    width: 100%;
     transform: translateY(0px);
     transition: transform 0.3s linear;
  }
  #MenuClose{
    width: 100%;
    transform: translateY(-300px);
    transition: transform 0.3s linear;
  }
}