//Parent:
.portfolio_container {
  width: 100vw;
  height: 100vh;
  background-color: #36454f;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;

  //Child1
  .sideNav {
    background-color: #181818;
    flex: 0.05;
    width: 100%;
    height: 100%;
    z-index: 800;

    @media screen and (max-width: 900px) {
      flex: 0.1;
      height: 30%;
      width: 100%;
    }
  }
  //Child2:
  .content {
    flex: 0.95;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 900px) {
      flex: 0.7;
      height: 70%;
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      flex: 0.8;
      width: 100%;
      height: 70%;
      background-color: #36454f;
      transition: flex 0.3s linear;
    }
  }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: 100vh;
  }
}
